h1 {
  height: 5vh;
  background: rgb(159, 190, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1vh;
  font-family: sans-serif;
}

.moviecard {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
}

.filmcard {
  display: inline-grid;
  margin: 1rem 2rem;
}

.filmcard img {
  width: 13rem;
  height: 10rem;
  margin: auto;
  font-family: sans-serif;
}

img.logo {
  width: 4rem;
  height: 4rem;
  margin-right: auto;
}

img.movie-image {
  width: 13rem;
  height: 10rem;
  margin: auto;
  font-family: sans-serif;
}

input[type="text"], button{
  background-color: rgb(248, 238, 143);
  color: rgb(10, 10, 10);
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"]{
  width: 40rem;
  height: 4vh;
  font-size: 3vh;
}

input[type="password"]{
  width: 20rem;
  height: 3vh;
  font-size: 3vh;
  
}

.hidden-before-login {
  display: none
}

.after-login {
  display: none
}