
body {
  background-image: url("https://external-preview.redd.it/ZIrWK2tOf_72YVnwjqyMGiiEiU3PVLNjPyObWDq1gd0.jpg?auto=webp&s=c7922a2f88dea4d22bdaa17a8fcaad3a62661070") ;
}

header h1 {
  color: wheat;
  font-family: sans-serif;
  font-size: 37px;
  display: flex;
}

h1.search-form-title {
  color: wheat;
  font-family: sans-serif;
  font-size: 37px;
  display: flex;
}

h1.user-home-page {
  color: wheat;
  font-family: sans-serif;
  font-size: 37px;
  display: flex;
}

.logo-collection {
  display: flex;
  justify-content: space-evenly;
}

.logo-collection img {
  border-radius: 25px;
  border: 2px transparent;
  width: 295px;
  height: 240px;
}

.logos {
  display: flex;
  justify-content: space-around
}

.logos img {
  border-radius: 25px;
  border: 2px transparent;
  width: 265px;
  height: 200px;
}

#movie-search-input {
  width: 38%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background:white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: -200px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

.moviecard {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(155, 176, 199);
    border-radius: 10px;
    border: grey 2px ;
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
}

.filmcard {
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(155, 176, 199);
  border-radius: 10px;
  border: grey 2px ;
  padding: 1rem;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.filmcard button {
  width: 3rem;
}

.filmcard p {
  width: 2rem;
  height: 1rem;
}

.filmcard img {
  width: 13rem;
  height: 10rem;
  margin: auto;
  background-color: whitesmoke;
  font-family: sans-serif;
}

img.logo {
  width: 3rem;
  height: 3rem;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border:black;
  border-radius: 6px;
}

img.movie-image {
  width: 13rem;
  height: 10rem;
  background-color: whitesmoke;
  margin: auto;
  font-family: sans-serif;
}

h1.form-title{
  display: flex;
  justify-content: center;
}

form.before-login {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 8em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
div.before-login {
  padding-top: 30px;
}
.form-input {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: -200px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
  }

.form-button {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.hidden-before-login {
  display: none
}

.after-login {
  display: none
}